html, body{
    overflow-x: hidden;
}
.detailsWrapper{
    max-width: 1600px;
    margin: 40px auto 0 auto;
    padding: 10px 40px;
    background:#121418;
    border-radius: 20px;
}
.icon{
    width: 90px;
    height: 90px;
}
.title{
    display: flex;
    align-items: center;
    width: 100%;
}
.name{
    margin-left: 30px;
    color: white;
}
.name span{
    padding-left: 10px;
    font-size: 15px;
    color: #8c8b8b;
}
.name h2{
    font-size: 35px;
}
.percent{
    font-size: 17px;
    position: relative;
    top: -8px;
}
.breadcrumbs{
    color: #8c8b8b;
    padding-bottom: 10px;
}
.marketData{
    width: 100%;
    display: flex;
    justify-content: center;

}
.chart{
    background-color: #21242c;
    border-radius: 20px;
    padding: 20px;
    margin-top: 30px;
    width: 100%;
    max-width: 1560px;
    margin-left: auto;
    margin-right: auto;
}
.chart h2{
    text-align: center;
    color: white;
    font-size: 25px;
    margin-bottom: 10px;
}
.chartFilterOptions{
    width: 100%;
    max-width: 1500px;
    padding: 0 40px 20px;
    display: flex;
    justify-content: space-between;
}