html, body{
    overflow-x: hidden;
}
.detailsWrapper{
    max-width: 1600px;
    margin: 40px auto 40px auto;
    padding: 10px 40px 30px;
    background:#121418;
    border-radius: 20px;
    display: flex;
}
.icon{
    width: 90px;
    height: 90px;
}
.title{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    max-width: 1245px;
}
.name{
    margin-left: 30px;
    color: white;
}
.name span{
    padding-left: 10px;
    font-size: 15px;
    color: #8c8b8b;
}
.name h2{
    font-size: 35px;
    margin-bottom: 10px;
}
.name h2:nth-child(2){
    margin-top: 15px !important;
}
.percent{
    font-size: 17px;
    position: relative;
    top: -8px;
}
.breadcrumbs{
    color: #8c8b8b;
    padding-bottom: 10px;
}
.marketData{
    width: 100%;
    display: flex;
}
.chart{
    background-color: #21242c;
    border-radius: 20px;
    padding: 20px;
    margin-top: 30px;
    width: 100%;
    max-width: 1190px;
    margin-right: auto;
}
.chart h2{
    text-align: center;
    color: white;
    font-size: 25px;
    margin-bottom: 10px;
}
.chartFilterOptions{
    width: 100%;
    max-width: 1140px;
    padding: 0 35px 20px;
    display: flex;
    justify-content: space-between;
}
.chart canvas{
    width: 100% !important;
    height: auto !important;
}
.sectionTitle{
    color: white;
    margin-left: 20px;
}
